$enable-negative-margins: true;

$carousel-transition: transform 0.2s, opacity 0.15s;

$primary: #b8ed75;

$success: #2db563;

$secondary: #f17128;

$accordion-icon-color: $success;

$accordion-button-active-color: $success;

$border-radius-lg: 1rem;
