@import "./variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

#main-section {
  background-image: url(../img/bg/decorative-1-sm.svg);
  background-repeat: no-repeat;
  background-position: 100% 0, 0% 55%;

  @include media-breakpoint-up(lg) {
    background-image: url(../img/bg/decorative-1.svg),
      url(../img/bg/decorative-2.svg);
  }
}

#instructors-section {
  .wrapper {
    background-color: #f4f5f2;
    position: relative;

    .photos-grid {
      margin-top: -2.5rem;
      margin-bottom: 2rem;
      @include media-breakpoint-up(sm) {
        margin-top: -4rem;
      }
      @include media-breakpoint-up(md) {
        margin-top: -5.5rem;
        margin-bottom: -5rem;
      }
    }
  }
}

#carousel-section {
  position: relative;
  padding: 3rem 0 6rem;
  min-height: 75vh;
  @include media-breakpoint-up(md) {
    min-height: 100vh;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;

  .background {
    background-image: url(../img/bg/carousel.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    @include media-breakpoint-up(md) {
      background-image: url(../img/bg/carousel-vector.svg),
        url(../img/bg/carousel.svg);
      background-size: contain, cover;
      background-position: left, bottom;
    }
    position: absolute;
    inset: 0;
    z-index: -1;
    &::after {
      content: "";
      display: block;
      border: 1px solid white;
      position: absolute;
      inset: auto 0 0 0;
    }
  }

  .content {
    .carousel {
      .carousel-inner {
        width: 180%;
        margin-left: -40%;
        @include media-breakpoint-up(md) {
          width: 120%;
          margin-left: -10%;
        }
      }

      .carousel-item {
        justify-content: space-evenly;
        gap: 2rem;
        align-items: center;
        .wrapper {
          height: auto;
          display: inline-block;
          img {
            display: block;
            margin: auto;
          }
        }
      }
    }
  }

  /* Carousel transitions */
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: flex;
  }

  .carousel-item-prev,
  .carousel-item-next {
    z-index: 1;
  }

  .carousel-control-prev,
  .carousel-control-next {
    z-index: 2;
  }

  /* mobile */
  @media (max-width: 767px) {
    .central-col {
      opacity: 100%;
      width: 60%;
    }
    .outer-col {
      opacity: 60%;
      width: 50%;
    }

    .carousel-item-end.active,
    .carousel-item-next {
      transform: translateX(33.33%);
      opacity: 0;
    }

    .carousel-item-start.active,
    .carousel-item-prev {
      transform: translateX(-33.33%);
      opacity: 0;
    }
  }

  /* desktop */
  @media (min-width: 768px) {
    .central-col {
      opacity: 100%;
      width: 22%;
    }
    .outer-col {
      opacity: 80%;
      width: 19%;
    }
    .most-outer-col {
      opacity: 20%;
      width: 15%;
    }

    .carousel-item-end.active,
    .carousel-item-next {
      transform: translateX(22%);
      opacity: 0;
    }

    .carousel-item-start.active,
    .carousel-item-prev {
      transform: translateX(-22%);
      opacity: 0;
    }
  }

  /* both*/
  .carousel-item-end,
  .carousel-item-start {
    transform: translateX(0);
    opacity: 100%;
  }
}

#target-section {
  background-image: url(../img/bg/waves-sm.svg);
  background-repeat: no-repeat;
  background-size: 150% 42%;
  background-position: 50% 68%;
  @include media-breakpoint-up(md) {
    background-image: url(../img/bg/waves.svg);
    background-size: contain;
    background-position: 0 75%;
  }

  .guitar-img-container {
    margin-left: -10rem;
    @include media-breakpoint-up(sm) {
      margin-left: 0;
    }
    img {
      width: 135%;
      @include media-breakpoint-up(sm) {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

#offers-section {
  background-image: url(../img/bg/decorative-3-sm.png),
    url(../img/bg/decorative-5.svg);
  background-repeat: no-repeat;
  background-position: right top, left bottom;

  @include media-breakpoint-up(lg) {
    background-image: url(../img/bg/decorative-3.png),
      url(../img/bg/decorative-4.png);
    background-size: 22rem, 10rem;
    background-position: right -0.2rem, left bottom;
  }
  .price-cards {
    max-width: 25em;
    @include media-breakpoint-up(lg) {
      max-width: 50em;
    }
    background-color: #eee;
    position: relative;
    margin-top: 10rem;
    .annual-plan {
      background-image: url(../img/bg/annual-plan-waves.svg),
        linear-gradient(180deg, #547364 0%, #203a39 100%);
      background-position: right;
      background-repeat: no-repeat;
      box-shadow: 10px 30px 30px rgba(95, 116, 68, 0.3);
      border-radius: 20px;
      position: relative;
      bottom: 6.5rem;
      ul {
        list-style-image: url(../img/white-check.svg);
        margin-left: -6px;
      }
    }
    .monthly-plan {
      margin-top: -6.5rem;
      @include media-breakpoint-up(lg) {
        margin-top: 0;
        .info {
          position: relative;
          bottom: 3.5rem;
        }
        .btn {
          position: relative;
          bottom: 6.5rem;
        }
      }
      ul {
        list-style-image: url(../img/green-check.svg);
        margin-left: -6px;
      }
    }
    @include media-breakpoint-up(lg) {
      .annual-plan,
      .monthly-plan {
        margin-bottom: -6.5rem;
      }
    }
    .list-item {
      position: relative;
      top: -4px;
    }
  }
}
